@media print, screen{
    table, th, td{
     border: 1px solid black; 
     border-collapse: collapse;
    }

    th, td {
        padding 15px;
        text-align: left;
        width: 33.3%;
        text-align: center;
    }

    th {
        background-color: #333f50;
        color: white;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    table {
        width: 100%;
        table-layout: auto
    }
}

@media screen and (max-width: 600px){
    button{
        width: 50%;
    }
}

button {
    width: 25%;
}

#btn-hidden{
    opacity: 0;
    transition: opacity 2s;
}