#animated {
    position: relative;
    background-color: red;
    width: 80px;
    height: 10px;
    border-radius: 50px;
    animation-name: animate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 0%;
}

#static {
    position: relative;
    background-color: red;
    width: 80px;
    height: 10px;
    border-radius: 50px;
    left: 0%;
}

@keyframes animate {
    0% {left: 0%;}
    50% {left: 85%;}
    100% {left: 0%;}
}

#transition {
    position: relative;
    background-color: red;
    width: 80px;
    height: 10px;
    border-radius: 50px;
    left: 0%;
    transition: width 2s, height 2s;
}

