#solarSystem {
    height: 500px;
    border-radius: 290px;
    border: .5px solid black;
    position: relative;
    background-color: rgb(20,20,20);
}

.planet {
    height: 15px;
    border-radius: 50px;
    width: 15px;
    position: absolute;
    margin-left: 48%;
}

#sun {
    background-color: yellow;
    margin-top: 50%;
}

#mercury {
    background-color: grey;
    margin-top: 50%;
    margin-left: 43%;
    animation:orbit 1s linear infinite;
    transform-origin:200% center;
}

#venus {
    background-color: plum;
    margin-top: 50%;
    margin-left: 39%;
    animation:orbit 2s linear infinite;
    transform-origin:350% center;
}

#earth {
    background-color: green;
    margin-top: 50%;
    margin-left: 35%;
    animation:orbit 3s linear infinite;
    transform-origin:500% center;
}

#mars {
    background-color: indianred;
    margin-top: 50%;
    margin-left: 31%;
    animation:orbit 5s linear infinite;
    transform-origin:650% center;
}

#jupiter {
    background-color: red;
    margin-top: 50%;
    margin-left: 27%;
    animation:orbit 8s linear infinite;
    transform-origin:800% center;
}

#saturn {
    background-color: deepskyblue;
    margin-top: 50%;
    margin-left: 23%;
    animation:orbit 12s linear infinite;
    transform-origin:950% center;
}

#uranus {
    background-color: khaki;
    margin-top: 50%;
    margin-left: 19%;
    animation:orbit 24s linear infinite;
    transform-origin:1100% center;
}

#neptune {
    background-color: blue;
    margin-top: 50%;
    margin-left: 15%;
    animation:orbit 40s linear infinite;
    transform-origin:1250% center;
}

#pluto {
    background-color: silver;
    margin-top: 50%;
    margin-left: 11%;
    animation:orbit 50s linear infinite;
    transform-origin:1400% center;
}

@keyframes orbit {
    100% { transform:rotate(-360deg); }
}