body{
    background-color: darkseagreen
}
.quizBtn_One {
    width: 100%;
    padding: 20px;
    border: none;
    margin-top: 15px;
    background-color: white;
}

.welcome {
    text-align: center;
    font-family: Helvetica;
    color: white;
}

#exp{
    text-align: center;
    font-family: Helvetica;
    color: white;
    display: none;
}

.quizBtn_SelectExp{
    width: 100%;
    padding: 20px;
    border: none;
    display: none;
    background-color: white;
    margin-top: 15px;
}

#next_One {
    width: 40%;
    padding: 5px;
    border: none;
    margin-top: 15px;
    margin-left: 30%;
    display: none;
    background-color: white;
}

#next_Two {
    width: 40%;
    padding: 5px;
    border: none;
    margin-top: 15px;
    margin-left: 30%;
    display: none;
    background-color: white;
}