body{
    background-color: darkseagreen
}
.quizBtn_One {
    width: 100%;
    padding: 20px;
    border: none;
    margin-top: 15px;
}

.quizBtn_One:hover {
    border: 1px solid black;
    background-color: darkseagreen;
    color: white;
}

.quizBtn_One:focus {
    border: 1px solid black;
    background-color: darkseagreen;
    color: white;
}

.welcome {
    text-align: center;
    font-family: Helvetica;
    color: white;
}

.quizBtn_SelectExp{
    width: 100%;
    padding: 20px;
    border: none;
    display: none;
}